[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
beautifulsoup4 = "*"
boto3 = "*"
configparser = "*"
docopt = "*"
requests = "*"
selenium = "*"
urllib3 = "*"

[requires]
python_version = "3.7"
