######################################################################
#<
#
# Function: str old = p6_aws_env_FUNC([val=])
#
#  Args:
#	OPTIONAL val - []
#
#  Returns:
#	str - old
#
#>
######################################################################
p6_aws_env_FUNC() {
    local val="${1:-}"

    local old="${VAR}"

    if ! p6_string_blank "$val"; then
       p6_env_export "VAR" "$val"
    fi

    p6_return_str "$old"
}
